# Enable Rewriting
RewriteEngine on

# RewriteBase uncomment and set the directory if 'index.html' is in a subdirectory e.g., /public/html/
# RewriteBase /public/html/

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)/$ $1.html [L]

# Optionally redirect to remove .html (if user enters .html in the URL)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]
