<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Public/Css/Styles.css">
    <title>Contact - Kehilas Lev V'Nefesh</title>
</head>
<body>
    <div class="nav-container">
        <nav class="nav">
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#minyanTimes">Minyan Times</a></li>
                <li><a href="#aboutUs">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>  
    <main class="container">
        <h2>Contact Us</h2>
        <p>If you have any questions or would like to get in touch with Kehilas Lev V'Nefesh, please use the form below or reach out via the provided contact information. We look forward to hearing from you!</p>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
            <button type="submit">Send</button>
        </form>
        <h3>Other ways to get in touch</h3>
        <p>Email: <a href="mailto:ydavidovici@gmail.com">ydavidovici@gmail.com</a></p>
        <p>Phone or Text: <a href="tel:+19737477186">973-747-7186</a></p>
        <p>Join our WhatsApp group: <a href="https://chat.whatsapp.com/IhXOpdpGVxBDBFd4Ssm3J8">Click here</a></p>
    </main>
    <footer class="container">
        <small>
            <a href="#">Privacy Policy</a> • <a href="#">Terms of Use</a>
        </small>
    </footer>
</body>
</html>
